<h1>My Bookings</h1>
<br>


<% @bookings.each do |booking| %>
        <ol>
        <div class="card m-4">
          <div class="card-header p-3">
              <div class="card-body">
                <h4><%=booking.spaceship.name%></h4>
                <h6>Start Date: <%= booking.start_date %></h6>
                <h6>End Date: <%= booking.end_date %></h6>
                  <%= link_to "Cancel Booking", bookings_path(booking), class: "btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" %>
                  <%= link_to "Delete Bookmark", bookings_path(booking), class: "btn btn-primary m-4", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-proimary" %>
                  <%= link_to "Leave a Review", new_spaceship_booking_review_path(booking.spaceship_id, booking), class: "btn" %>
                </p>
        </ol>
      <% end %>
