
<%# iterate spaceship.bookings %>
<h1>Upcoming trips</h1>
<% @my_spaceships.each do |spaceship|%>
  <% spaceship.bookings.each do |booking| %>
    <ol>
      <div class="card m-4">
        <div class="card-header p-3">
          <div class="card-body">
            <h4><%=booking.spaceship.name%></h4>
            <h6>Start: <%= booking.start_date.strftime("%d/%m/%Y") %></h6>
            <h6>End: <%= booking.end_date.strftime("%d/%m/%Y") %></h6>
            <h6>Total price: <%= total = booking.spaceship.price*((booking.end_date - booking.start_date)/86400) %></h6>
            <%= link_to "Cancel Booking", booking_path(booking), class: "btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" %>
          </div>
        </div>
      </div>
    </ol>
  <% end %>
<% end %>
