<div class="container">
<br>
  <h1>Added some new guns? Ramped up your hyperdrive so it runs on black mass? Update your spaceship below!</h1>

  <%= simple_form_for [@spaceship] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :armaments %>
      <%= f.input :capacity %>
      <%= f.input :speed %>
      <%= f.input :price %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
</div>
