<div class="containerr">
  <div class="filters justify-content-center">
    <div class="filter"><%= image_tag("mercury.png", height: '40', width: '40') %>Mercury</div>
    <div class="filter"><%= image_tag("venus.png", height: '40', width: '40') %>Venus</div>
    <div class="filter"><%= image_tag("mars.png", height: '40', width: '40') %>Mars</div>
    <div class="filter"><%= image_tag("jupiter.png", height: '40', width: '40') %>Jupiter</div>
    <div class="filter"><%= image_tag("saturn.png", height: '40', width: '40') %>Saturn</div>
    <div class="filter"><%= image_tag("uranus.png", height: '40', width: '40') %>Uranus</div>
    <div class=filter><%= image_tag("neptune.png", height: '40', width: '40') %>Neptune</div>
  </div>


  <div class="row justify-content-center">
    <% @spaceships.each do |spaceship| %>
        <%= link_to spaceship_path(spaceship), class:"card col-5" do %>
        <%= cl_image_tag spaceship.photo.key, height: '150', width: '200' %>
        <h5><%= spaceship.name %></h5>
        <p></p>
        <h6>Captain: <%= spaceship.id %></h6>
        <p></p>
        <h6>Description: <%= spaceship.description%></h6>
        <p></p>
        <h6>Rating: <%= rand(1..5) %><%= image_tag("gold_star.png", height: '20', width: '20') %></h6>
      <% end %>
    <% end %>
</div>
