<div class="containerr">
  <div class="filters">
    <%# <div class="filter">Luxury</div>
    <div class="filter">Speed+</div>
    <div class="filter">Scenic</div>
    <div class="filter">Trending</div>
    <div class="filter">Private</div> %>
    <div class="filter">Mercury</div>
    <div class="filter">Venus</div>
    <div class="filter">Mars</div>
    <div class="filter">Jupiter</div>
    <div class="filter">Saturn</div>
    <div class="filter">Uranus</div>
    <div class="filter">Pluto</div>
  </div>

  <% ships= ["millennium-falcon.png", "RazorCrest.webp", "u-wing.webp", "Ghost2.webp"] %>
  <% descriptions= ["Beautiful ship", "Nice looking ship", "Average looking ship", "Ugly looking ship"] %>
  <div class="row">
    <% @spaceships.each do |spaceship| %>
      <div class="card col-5">
        <%= image_tag("#{ships.sample}", height: '150', width: '200') %>
        <%= link_to spaceship.name, spaceship_path(spaceship) %>
        <h6>Captain: <%= spaceship.description %></h6>
        <p></p>
        <h6>Description: <%= "#{descriptions.sample}" %></h6>
        <p></p>
        <h6>Rating: <%= rand(1..5) %><%= image_tag("gold_star.png", height: '20', width: '20') %></h6>
      </div>
    <% end %>
</div>
