

<h2>Name:  <%= @spaceship.name %></h2>
<p>Description: <%=@spaceship.description %></p>
<p>Armament: <%= @spaceship.armaments %></p>
<p>Speed: <%= @spaceship.speed %> lightyears/second</p>
<p>Price: <%= @spaceship.price %> flugozian credits.</p>
<p>Capacity: <%= @spaceship.capacity %> non-crew passengers (divide by 5 for amalfous blobs)<p>

<%= link_to "Make a booking", new_spaceship_booking_path(@spaceship, @booking), class: "btn btn-primary" %>




<% if @spaceship.user == current_user %>
  <%= link_to "Edit Details", edit_spaceship_path(@spaceship), class: "btn btn-primary" %>
  <%= link_to "Remove My Spaceship", spaceship_path(@spaceship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
<% end %>


<%# <ul class="list-unstyled"> %>
  <%# <% @spaceship.reviews.each do |review| %>
  <%# <% if booking.review.exist?%>
    <%# <li><%= review.rating %>
    <%# <%= review.content %>
    <%# </li> %>
<%# </ul> %>
