<div class="containerrr">
  <div class="view-page">
    <div class="card-view">
      <h2><%= @spaceship.name %></h2>
      <br>
      <p>Description: <%=@spaceship.description %></p>
      <p>Armament: <%= @spaceship.armaments %></p>
      <p>Speed: <%= @spaceship.speed %> Lightyears/Second</p>
      <p>Price: <%= @spaceship.price %> Flugozian Credits.</p>
      <p>Capacity: <%= @spaceship.capacity %> Non-Crew Passengers<p>
    </div>
    <%= cl_image_tag @spaceship.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
    <%= link_to "Make a booking", new_spaceship_booking_path(@spaceship, @booking), class: "btn btn-primary" %>
    <% if @spaceship.user == current_user %>
      <%= link_to "Edit Details", edit_spaceship_path(@spaceship), class: "btn btn-primary" %>
      <%= link_to "Remove My Spaceship", spaceship_path(@spaceship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
    <% end %>
</div>
<%# <ul class="list-unstyled"> %>
  <%# <% @spaceship.reviews.each do |review| %>
  <%# <% if booking.review.exist?%>
    <%# <li><%= review.rating %>
    <%# <%= review.content %>
    <%# </li> %>
<%# </ul> %>
