<div class="containerrr">
  <div class="view-page">
    <div class="card-view">
      <h2><%= @spaceship.name %></h2>
      <p></p>
      <p><div class="view-content">Description: <%=@spaceship.description %></p></div>
      <p><div class="view-content">Armament: <%= @spaceship.armaments %></p></div>
      <p><div class="view-content">Speed: <%= @spaceship.speed %> Lightyears/Second</p></div>
      <p><div class="view-content">Price: ⓩ<%= @spaceship.price %> Flugozian Credits.</p></div>
      <p><div class="view-content">Capacity: <%= @spaceship.capacity %> Non-Crew Passengers<p></div>
    </div>
    <% if @spaceship.photo.attached? %>
      <div class="view-img"><%= cl_image_tag @spaceship.photo.key, height: 600, width: 650 %></div>
    <% else %>
      <div class="view-img"><img src="https://media.sketchfab.com/models/0e97fb0190244216a056909bbd749b9f/thumbnails/77649cbaea4849aeb3c98a70547c39ba/ef0475805a5a4442a15e3b681a0ec389.jpeg" alt=""></div>
    <% end %>
  </div>
  <p></p>
    <% if @spaceship.user != current_user %>
      <%= link_to "Make a booking", new_spaceship_booking_path(@spaceship, @booking), class: "btn" %>
      <%= link_to "Back", spaceships_path, class: "btn"  %>
    <% end %>
    <% if @spaceship.user == current_user %>
      <%= link_to "Edit Details", edit_spaceship_path(@spaceship), class: "btn" %>
      <%= link_to "Remove My Spaceship", spaceship_path(@spaceship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" %>
    <% end %>
</div>
<%# <ul class="list-unstyled"> %>
  <%# <% @spaceship.reviews.each do |review| %>
  <%# <% if booking.review.exist?%>
    <%# <li><%= review.rating %>
    <%# <%= review.content %>
    <%# </li> %>
<%# </ul> %>
